
body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.upper-bar {
    background-color: #180049;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin: 5px 0px 8px 25px;
}
.lower-bar {
    background-color: #210065;
    height: 100px;
}
.search-bar {
    width: 100%;
    display: flex;
}
.search-box {
    float: left;
    height: 35px;
    width: 70%;
    padding: 8px;
    font-size: 20px;
    outline: none;
    border-radius: 20px;
    margin: 18px 0px 6px 22px;
}
.search-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin: 22px 19px 20px 20px;
}
.loaction-btn {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.loaction-btn::-webkit-scrollbar {    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
  }
.btn {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 50px;
    margin-top: 10px;
    margin-left: 23px;
    color: #180049;
    box-shadow: 0px 2px 10px rgba(192, 192, 192, 0.7);
}
.btn a {
    text-decoration: none;
    font-size: 10px;
}
.category-featuredOffers {
    display: flex;
    margin-top: 10px;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.category-featuredOffers::-webkit-scrollbar {    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
  }
.c {
    cursor: pointer;
    margin: 10px;
}    
.map {
    display: flex;
    margin-left: 100px;
}
.map-logo {
    margin: 10px;
}
.map-text {
    margin-top: 15px;
}
.map-text a {
    text-decoration: none;
    color: #919191;
}
.offer1, .offer2, .offer3, .offer4 {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.offer1-text, .offer2-text, .offer3-text, .offer4-text {
    display: flex;
    font-size: 13px;
    box-shadow: 0px 2px 10px rgba(129, 129, 129, 0.7);
    width: 311px;
}
.offer1-text1, .offer2-text1, .offer3-text1, .offer4-text1 {
    margin-left: 10px;
}
.offer1-text2, .offer2-text2, .offer3-text2, .offer4-text2 {
    margin-left: 20px;
}
.view-btn a {
    text-decoration: none;
    color: white;
    border: 1px solid #29007B;
    border-radius: 20px;
    background-color: #29007B;
    padding: 5px 10px;
    font-size: 12px;
}
.view-btn {
    position: relative;
    left: 250px;
    top: -10px;
}
.suggested-offers {
    margin: 20px 0px 0px 32px;
}